* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 50px;
}

.header-content {
  margin: 0 auto;
  width: 960px;
}

.header-box:nth-child(odd) {
  background-color: #eee;
}

.header-box:nth-child(even) {
  background-color: white;
}

.header-text {
  padding: 20px 0 20px 20px;
}

main {
  margin: 50px 0 50px 0;
}

.main-content {
  margin: 0 auto;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.main-box {
  width: 30%;
  height: 200px;
  margin: 0 5% 40px 0;
  background-color: yellow;
}

.main-box:nth-child(1),
.main-box:nth-child(5),
.main-box:nth-child(9) {
  background-color: orange;
}

.main-box:nth-child(3n) {
  margin-right: 0;
}

.main-box:nth-child(7),
.main-box:nth-child(8),
.main-box:nth-child(9) {
  margin-bottom: 0;
}
