* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  width: 1200px;
  height: 800px;
  background-color: gray;
  margin: 5px auto;
}

.main-top{
  width: 1200px;
  height: 200px;
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.main-2{
  width: 1200px;
  height: 200px;
  background-image: url(img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.main-3{
  width: 1200px;
  height: 200px;
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.main-bottom{
  width: 1200px;
  height: 200px;
  background-image: url(img/box4.jpg);
  background-size: cover;
  background-position: center;
}